@import '../modules/colors';
@import '../layout/login-page';
@import '../layout/home/home.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	font-family: 'Roboto', sans-serif;
	// font-family: 'Noto Sans', sans-serif;
	font-size: 1.6rem;
	width: 100vw;
	height: 100vh;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
