@import '../modules/colors';
@import '../layout/login-page';
@import '../layout/nav';
@import '../layout/panel-top';
@import '../layout/main-content';
@import '../layout/start';
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	font-family: 'Roboto', sans-serif;
	// font-family: 'Noto Sans', sans-serif;
	font-size: 1.6rem;
	width: 100vw;
	height: 100vh;
}
.dashboard {
	display: flex;
	align-items: start;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	display: none;
}
.login {
	display: none;

	display: flex;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
