$white: #e7e7e7;
$light-white: #f5f5f5;
$dark-white: #f1f1f1;
$dark-text: #222222;
$black: #000;
$blue: #3f3ff1;
$logo-color: #7e49f8;
$light-gray: rgb(207, 207, 207);
$dark-gray: rgb(65, 65, 65);
$gray: rgb(148, 148, 148);
$attention: rgb(250, 71, 71);

// HEADERS SECTION TITLE COLORS

$start-header: rgb(194, 255, 194);
$orders-header: rgb(255, 227, 175);
$tasks-header: rgb(176, 213, 255);
$shop-header: #e0d5fc;
$company-header: rgb(255, 164, 164);

$gradient-nav: linear-gradient(90deg, rgba(68, 44, 142, 1) 24%, rgba(64, 64, 136, 1) 100%), rgb(68, 44, 142);
