$white: #f3f3f3;
$light-white: rgb(245, 245, 245);
$dark-white: #f1f1f1;
$dark-text: #222222;
$black: #000;
$blue: rgb(63, 63, 241);
$logo-color: rgb(126, 73, 248);
$light-gray: rgb(207, 207, 207);
$dark-gray: rgb(65, 65, 65);
$attention: rgb(250, 71, 71);
