.main-content {
	width: 100vw;
}

.start {
	display: block;

	// display: none;
}
.tasks {
	display: none;

	// display: block;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
}
