.main-content {
	width: 100vw;
}

.start {
	display: block;

	//
	display: none;
}
.orders {
	display: none;
	//
	display: flex;
}
.tasks {
	display: none;
}
.shop {
	display: none;
}
.company {
	display: none;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
}
