.nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 20vw;
	max-width: 300px;
	height: 100%;
	background: $gradient-nav;
	&-box {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 5vh;
		transform: translateY(-50%);
		svg {
			fill: $blue;
			width: 10px;
			margin: 0.3em;
		}
		&__text {
			font-size: 1rem;
			text-transform: uppercase;
			font-family: 'Noto Sans', sans-serif;
			color: $light-white;
			&--small {
				font-size: 0.5rem;
			}
		}
	}
	&-items {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
		height: 70%;
		align-items: center;
		color: $light-gray;

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60%;
			padding: 0.3em 1em;
			transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
			&--icon {
				align-self: center;
				color: gray;
				font-size: 1.5rem;
				margin: 0.5em;
				text-align: center;

				&--href {
					display: none;
				}
				&--logout {
					color: $attention;
				}
			}
			text-decoration: none;
			margin: 1em 0.5em;
			color: $light-gray;
		}
	}
	&--logout {
		text-decoration: none;
		color: $attention;
	}
}

// OTHER
.icon-spy {
	color: red;
}

@media (min-width: 900px) {
	.nav-items__item--icon--href {
		display: block;
	}
	.nav-items__item {
		&:hover {
			border: 1px solid $light-white;
			background-color: rgba($light-white, $alpha: 0.5);
			color: $dark-text;
			border-radius: 30px;
		}
	}
}
