.nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 20vw;
	max-width: 300px;
	height: 100%;
	background: $light-white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	// z-index: 2;
	&-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		top: 5vh;
		transform: translateY(-50%);
		svg {
			fill: $logo-color;
			width: 10px;
			margin: 0.3em;
		}
		&__text {
			font-size: 1rem;
			text-transform: uppercase;
			font-family: 'Noto Sans', sans-serif;
			color: $logo-color;
			&--small {
				font-size: 0.5rem;
			}
		}
	}
	&-items {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
		height: 70%;
		align-items: center;
		color: $light-gray;

		&__item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 1.2em 1em;
			transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
			background: transparent;
			border-left: 4px solid transparent;
			&--icon {
				align-self: center;
				color: gray;
				font-size: 1.5rem;
				margin-right: 0.5em;
				text-align: center;

				&--href {
					display: none;
				}
				&--logout {
					color: $attention;
					margin-right: 0.5em;
				}
			}
			text-decoration: none;
			margin-top: 1em;
			color: #7f729e;
		}
	}
	&--logout {
		display: flex;
		position: absolute;
		bottom: 10vh;
		text-decoration: none;
		color: $attention;
	}
}
// other
// OTHER
.icon-spy {
	color: $logo-color;
}

.nav-spy {
	border-left: 4px solid $logo-color;
	background: rgb(242, 236, 255);
	background: linear-gradient(90deg, rgba(242, 236, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
	color: $logo-color;
}
.navTest {
	display: block;
}

@media (min-width: 900px) {
	.nav-box {
		flex-direction: row;
		svg {
			width: 40px;
		}
		&__text {
			font-size: 1.8rem;
			&--small {
				font-size: 1rem;
			}
		}
	}
	.nav-items__item--icon--href {
		display: block;
	}
	.nav-items__item {
		&:hover {
			background: rgb(242, 236, 255);
			background: linear-gradient(90deg, rgba(242, 236, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
			color: $logo-color;
		}
	}
}
