@import '../modules/colors';
@import '../modules/mixins';

.orders {
	position: relative;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	width: 90%;
	border-radius: 10px;
	&__header {
		background-color: $orders-header;
	}
	&-container {
		@include containerSection;

		&--error {
			color: $attention;
			text-align: center;
			font-size: 1rem;
			padding: 0.5em 1em;
			margin: 0.5em;
			visibility: hidden;
		}
		&__start {
			@include btnMixin;
			background-color: $orders-header;
			color: $dark-gray;
			transition: background-color 0.4s, color 0.4s;
			&:hover {
				background-color: $-light-logo-color;
				color: $light-white;
			}
		}
		&__area {
			width: 100%;
			padding: 0.5em 0.3em;
			margin-top: 1m;
			font-size: 1rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column-reverse;
			&-new {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 0.8rem;
				width: 100%;
				background-color: rgb(255, 243, 220);
				margin-top: 0.5em;

				&:nth-child(even) {
					background-color: rgb(250, 232, 198);
				}

				&-number {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5em 0.3em;
				}
				&-left {
					display: flex;
					align-items: flex-start;
					justify-content: space-evenly;
					flex-direction: column;
					padding: 0.5em 0.3em;

					&-label {
						font-style: italic;
					}
					&-orders {
						margin-top: 0.3em;
						font-size: 1rem;
						margin: 0 auto;
					}
				}
				&-right {
					display: flex;
					align-items: flex-start;
					justify-content: space-evenly;
					flex-direction: column;
					padding: 0.5em 0.3em;

					&-label {
						font-style: italic;
						text-align: center;
						margin: 0 auto;
						padding: 0.3em;
					}
					&-position {
						font-size: 1rem;
					}
				}
				&-text {
					display: none;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					padding: 0.5em;
				}
				&-finish {
					font-size: 1rem;
					display: flex;
					flex-direction: column;
					align-content: center;
					border: none;
					background-color: transparent;
					padding: 0.5em 0.3em;
					cursor: pointer;
					margin-right: 0.4em;
					color: $dark-gray;
					font-style: italic;
					transition: color 0.3s;
					&:hover {
						color: $gray;
					}
				}
			}
		}

		// PANEL
		&__panel {
			position: absolute;
			background-color: $orders-header;
			display: none;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			color: $dark-gray;
			font-size: 1.4rem;
			width: 100%;
			z-index: 2;
			&-title {
				text-align: center;
				padding: 1em;
				font-size: 1.5rem;
			}
			&-top {
				text-align: center;
				display: flex;
				padding: 1em;
				flex-direction: column;
				&-input {
					margin-top: 0.5em;
					border: orange;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					padding: 0.5em 1em;
					&:focus {
						outline: none;
					}
				}
				&--error {
					color: $attention;
					padding: 0.5em;
					visibility: hidden;
				}
			}
			&-mid {
				display: flex;
				flex-direction: column;
				text-align: center;
				padding: 1em;
				&-input {
					margin-top: 0.5em;
					padding: 0.5em;
					border: orange;
					font-size: 1.2rem;
					width: 100%;
					max-width: 300px;
				}
				&--error {
					color: $attention;
					padding: 0.5em;
					visibility: hidden;
				}
			}
			&-bottom {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				padding: 1em;
				&-add,
				&-close {
					padding: 1em 0.5em;
					background-color: $start-header;
					border: none;
					transition: background-color 0.4s;
				}
				&-add {
					&:hover {
						background-color: rgb(113, 204, 113);
					}
				}
				&-close {
					background-color: $company-header;
					&:hover {
						background-color: rgb(255, 130, 130);
					}
				}
			}
		}
	}
}

.finish-show {
	display: flex;
}
.button-hide {
	display: none;
}

.finish-order {
	background-color: rgb(190, 190, 190);
	opacity: 0.7;
	font-style: italic;
	&:nth-child(even) {
		background-color: rgb(179, 179, 179);
	}
}

.container-orders--between {
	display: flex;
}

@media (min-width: 900px) {
	.orders-container__area-new {
		font-size: 1.2rem;
		&-number {
			margin-right: 2em;
		}
		&-left-orders {
			margin-right: 4em;
			font-size: 1.4rem;
		}
		&-right-position {
			font-size: 1.6rem;
		}
		&-text {
			font-size: 1.4rem;
		}
		&-finish {
			font-size: 1.4rem;
		}
	}
}
