@import '../modules/colors';
@import '../modules/mixins';

.orders {
	position: relative;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	width: 90%;
	border-radius: 10px;
	&__header {
		background-color: $orders-header;
	}
	&-container {
		@include containerSection;

		&--error {
			color: $attention;
			text-align: center;
			font-size: 1.2rem;
			padding: 0.5em 1em;
			visibility: hidden;
		}
		&__start {
			cursor: pointer;
			background-color: $orders-header;
			border: none;
			padding: 0.7em 1.5em;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			color: $dark-gray;
			margin-top: 1em;
			transition: background-color 0.4s, color 0.4s;
			&:hover {
				background-color: orange;
				color: $light-white;
			}
		}
		&__area {
			width: 100%;

			margin-top: 1em;
			padding: 0.5em;
			font-size: 1rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;

			&-new {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;

				font-size: 1rem;
				width: 100%;
				background-color: rgb(255, 243, 220);

				margin-top: 0.5em;
				&:nth-child(even) {
					background-color: rgb(250, 232, 198);
				}
				&-number {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1em 0.5em;
					margin: 0 1em;
				}
				&-left {
					display: flex;
					flex-direction: column;
					padding: 1em 0.5em;
					&-label {
						font-style: italic;
					}
					&-orders {
						margin-top: 0.5em;
						font-size: 1.2rem;
					}
				}
				&-right {
					padding: 1em 0.5em;

					&-label {
						font-style: italic;
					}
					&-position {
						font-size: 1rem;
						margin-top: 0.5em;
					}
				}
				&-finish {
					font-size: 1rem;
					display: flex;
					flex-direction: column;
					align-content: flex-end;
					border: none;
					background-color: transparent;
					padding: 0.5em 0.3em;
					cursor: pointer;
					margin-right: 0.4em;
					color: $dark-gray;
					font-style: italic;
				}
			}
		}

		// PANEL
		&__panel {
			position: absolute;
			background-color: $orders-header;
			display: none;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			color: $dark-gray;
			font-size: 1.4rem;
			width: 100%;
			z-index: 2;
			&-title {
				text-align: center;
				padding: 1em;
				font-size: 1.5rem;
			}
			&-top {
				text-align: center;
				display: flex;
				padding: 1em;
				flex-direction: column;
				&-input {
					margin-top: 0.5em;
					border: orange;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					padding: 0.5em 1em;
					&:focus {
						outline: none;
					}
				}
				&--error {
					color: $attention;
					padding: 0.5em;
					visibility: hidden;
				}
			}
			&-mid {
				display: flex;
				flex-direction: column;
				text-align: center;
				padding: 1em;
				&-input {
					margin-top: 0.5em;
					padding: 0.5em;
					border: orange;
					font-size: 1.2rem;
					width: 100%;
					max-width: 300px;
				}
				&--error {
					color: $attention;
					padding: 0.5em;
					visibility: hidden;
				}
			}
			&-bottom {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				padding: 1em;
				&-add,
				&-close {
					padding: 1em 0.5em;
					background-color: $start-header;
					border: none;
					transition: background-color 0.4s;
				}
				&-add {
					&:hover {
						background-color: rgb(113, 204, 113);
					}
				}
				&-close {
					background-color: $company-header;
					&:hover {
						background-color: rgb(255, 130, 130);
					}
				}
			}
		}
	}
}
.container-orders--between {
	display: flex;
}
