.panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 10vh;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.45) 0 10px 20px -20px;
	// overflow: hidden;

	&-burger {
		display: inline-block;
		cursor: pointer;
		width: 50%;
	}
	&-box {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		align-content: flex-end;

		color: $dark-gray;
		width: 100%;

		transform: translateX(300%);
		transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		&__item {
			position: relative;
			padding: 0.5em;
			margin-right: 0.7em;
			&-notifications {
				cursor: pointer;
				position: relative;
				font-size: 2rem;
			}
			&-avatar {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				object-fit: cover;
			}
			&-settings {
				cursor: pointer;
			}
			&-language {
				cursor: pointer;
			}
		}
	}
}
.bar1,
.bar2,
.bar3 {
	width: 30px;
	height: 4px;
	background-color: $dark-gray;
	margin: 5px 1em;
	transition: 0.3s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 4px);
	transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -7px);
	transform: rotate(45deg) translate(-8px, -7px);
}

.notifications {
	position: absolute;
	top: 8vh;
	display: none;
	align-items: center;
	flex-direction: column;
	width: 180px;
	left: -30px;
	font-size: 1.2rem;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	&__box {
		display: flex;
	}
}

// OTHER

.panel-mobile-show {
	transform: translateX(0);
}
.notifications-show {
	display: flex;
}

@media (min-width: 900px) {
	.panel-burger {
		display: none;
	}
	.panel-box {
		transform: translateX(0);
	}
}
