@import '../modules/colors';
@import '../modules/mixins';

.start {
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	width: 90%;
	border-radius: 10px;
	&__header {
		background-color: $start-header;
	}
	&-container {
		@include containerSection;

		&__text {
			margin-top: 1em;
			font-size: 2rem;
			text-align: center;
			&-button--start,
			&-button--end {
				background-color: $start-header;
				cursor: pointer;
				border: none;
				padding: 0.7em 1.5em;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				color: $dark-gray;
				margin-top: 1em;
				transition: background-color 0.4s, color 0.4s;
				&:hover {
					background-color: orange;
					color: $light-white;
				}
			}
			&-button--end {
				background-color: rgb(161, 161, 161);
				color: $dark-text;
				display: none;
			}
		}
	}
	&-presence {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
		width: 100%;
		margin-top: 1em;
	}
}

.presence {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0.7em;
	font-size: 1rem;

	background: rgb(241, 241, 241);
	&:nth-child(even) {
		background: rgb(216, 216, 216);
	}

	&-day,
	&-hour-start,
	&-hour-end {
		margin-right: 1em;

		padding: 0.7em 0.4em;
	}
	&-day {
		display: flex;
		align-items: center;
		justify-content: center;

		background: rgb(209, 209, 209);
	}
	&-hour-start {
		text-align: center;

		background: rgb(217, 255, 217);

		span {
			color: rgb(54, 141, 54);
		}
	}
	&-hour-end {
		background: rgb(255, 213, 213);
		span {
			color: rgb(216, 58, 58);
		}
	}
}
// OTHER
@media (min-width: 900px) {
	.presence {
		font-size: 1.8rem;
	}
}
